
/**************************************************************/
/* All stylings for Mobile/Responsive only*/
/**************************************************************/


@media only screen and (max-width: 768px) {
  .desktop-logo{   /* Hides desktop logo */
    display: none;
  }

  footer{
    display: none;
  }

  .desk-nav-list{ /* Hides desktop navigation bar  */
   display: none;
 }

  .overlay {  /* Adjustable properties for the overlay. Allows for the overlay to be hidden on screen and take over the the full screen with z index  */
    height: 150%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ADD34C;
    overflow-x: hidden;
    transition: 0.3s;
    font-family: 'Raleway', sans-serif;

  }


  .overlay-content { /* Controls the actual content within the overlay, controlling the overall positioning of the items  */
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    opacity: 1;
    background-color: #ADD34C;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 100%;
  }

  .overlay li { /* Controls the individual elements of the overlay, setting the properties for the text */
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(244,241,214);
    display: block;
    transition: 0.3s;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
  }


  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(244,241,214);
    display: block;
    transition: 0.3s;
    opacity: 1;
    font-family: 'Raleway', sans-serif;

  }

  .nav-container{ /* holds the mobile navigation elements, positioning the elements using the grid */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-bottom: 10px;
    background-color: rgb(244,241,214);
    margin: auto;
    font-family: 'Raleway', sans-serif;
  }

  .nav-container .overlay{ /* makes the top area of the overlay transparent so the logo is visible */
    background-color: rgba(173,211,76, 0);
  }

  .nav-list{
    list-style-type: none;
    display: inline;
  }



  .plastic{ /*hides the image of plastic on mobile version due to not fitting on screen */
    display: none;
  }

  .subnav{ /*hides subnav to be toggled*/
    display: none;
    font-size: 12px;
  }

  .subnav li a{
    font-size: 24px;
  }


  .overlay a:hover, .overlay a:focus { /* controls overlay text hover */
    color: rgb(0,0,0);
  }

  .overlay .closebtn { /* Styles for the overlay close button */
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }


  .hamburgerOpen{ /* Shows the hamburger to the user */
    visibility: visible;
  }

  .hamburgerClosed{
    visibility: visible;
  }

  .mobLogoImg{ /*Controls the size of the logo image to adjust to the screen size*/
    width: auto%;
    height: auto%;
  }
  .logo-container{
    display: none;
  }
  .logoImg{
    display: none;
  }

  .mob-slogan{ /*Styles for the slogan to be shown on mobile, controlling where it is positioned etc.*/
    position: relative;
    bottom: 60px;
    color: rgb(244,241,214);
    font-size: 45px;
    margin: 0px;
    background-color: #ADD34C;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
  }

  .call-button{ /*Controls the styling for the button to call the company*/
    position: relative;
    left: 50%;
    margin-left: -150px;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #094D92;
    color: rgb(244,241,214);
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 50%;
    font-size: 30px;
  }

  p{
    margin-top: 8px;
  }



@media (max-width:768px) and (max-height: 667px) { /*Adjusts the font size of the slogan to fit certain screen sizes*/
  .slogan {font-size: 25px}
}

/*The following three change the height of the overlay to cover the full size of the screen when a larger screen is used*/

@media (max-width:768px) and (min-height:640px){
  .overlay{
    height: 120%;
  }
}

@media (max-width:768px) and (min-height:812px){
  .overlay{
    height: 100%;
  }
}

@media (max-width:768px) and (min-height:1024px){
  .overlay{
    height: 90%;
  }
}


.panels{ /*Controls the positioning of the panels used in the meet the team section*/
display: grid;
grid-template-columns:  repeat(2, 1fr);
grid-gap: 50px 0px;

}

.panels li{
display: grid;
text-align: center;

}

.panels li div{
text-align: center;
width: 20%;

}






@media screen and (max-height: 450px) { /*Adjusting some properties for when the screen size is significantly smaller */
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}





.offer{ /*Stylings to control the offer text, ensuring it follows the same font and colours*/
  padding: 15px;
  text-align: center;
  background-color: #ADD34C;
  color: rgb(244,241,214);
  font-family: 'Raleway', sans-serif;
  border-bottom: solid;
  position: sticky;
  font-weight: bold;
}


.product-img{ /*Styling for the images*/
  width:80%;
  height:auto;
  background-color: rgb(244,241,214);
  align-self: center;
  margin: auto;
  grid-column: 2;
}




.product-text{ /*Styling for all the text that appears on the page*/
  background-color: #ADD34C;
  text-align: center;
  color: rgb(244,241,214);
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 10px;
  margin-right: 10px;
  border: solid;
  border-color: rgb(244,241,214);

}

.product-text a{ /*Styling for the a tags in the text to distinguish them from the rest */
  color: #094D92;
  font-weight: bold;
}

.product-text p{
  font-size: 16px;
}

.product-text ul{
  list-style-type: circle;
  margin-left: 50px;
}

.home-products{
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  font-family: 'Raleway', sans-serif;
}

.home-products article{
  background-color:#ADD34C;
}
}



/**************************************************************/
/* All stylings for Desktop only*/
/**************************************************************/

@media screen and (min-width: 769px) {
  .hamburger-box{ /* Hides hamburger menu on desktop devices*/
    visibility: hidden;
    display: none;
    color:#ADD34C;
  }
  .hamburger{
    display: none;
    visibility: hidden;
    color:#ADD34C;
  }
  .call-button{ /* Hides call button from user as not needed in desktop*/
    display: none;
  }
  .mob-slogan{ /*Hides mobile slogan*/
    display: none;
  }
  .mobLogoImg{ /* Hides mobile logo*/
    display:none;
  }
  .nav-container{ /* Hides mobile navigation*/
   display: none;
  }

  .desktop-logo{ /* Stylings for desktop logo area*/
    background: rgb(244,241,214);
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }

  .desk-nav-list li{ /* controls desktop nav item positioning*/
    float:left;
  }
  .desk-nav-list li a{ /* Controls the elements within the desktop navigation bar */
    display: block;
    color: rgb(244,241,214);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .logo-container{  /* postioning for desktop logo area*/
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
  .logoImg{ /* extra padding for logo image */
    padding-bottom: 10px;
  }
  .slogan{ /* styling for desktop slogan */
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(244,241,214);
    padding-top: 60px;
  }

  .desk-nav-list{  /* styling for desktop navigation */
   background: #094D92;
   overflow: hidden;
 }

 .desk-nav-list a{  /* styling for desktop navigation */
   float:left;
   font-size: 20px;
   color: rgb(244,241,214);
   text-align: center;
   padding: 10px 20px;
   text-decoration: none;
 }

  .ham-area{
    background-color: #ADD34C;
  }
  .offer{  /* styling for desktop slogan */
    padding-bottom: 60px;
    text-align: center;
    background-color: #ADD34C;
    color: rgb(244,241,214);
    font-family: 'Raleway', sans-serif;
    border-bottom: solid;
    position: sticky;
    font-weight: bold;
    font-size: 50px;
    padding-top: 40px;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  b{
    font-size: 50px;
  }

  .product-text{  /* styling for desktop text to be displayed */
    background-color: #ADD34C;
    color: rgb(244,241,214);
    font-family: 'Raleway', sans-serif;
    width: 60%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border: solid;
    border-color: rgb(244,241,214);
    font-size: 30px;
    padding-bottom: 2%;
    position: relative;
    left: 20%;
    margin-top: 20px;
  }

  .product-text ul{  /* styling for desktop text list items*/
    list-style-type: circle;
    margin-left: 0px;
  }

  .subnav{  /* postioning for desktop sub nav */
    float: left;
    overflow:hidden;
  }
  .subnav .nested{  /* styling for desktop sub navigation */
    font-size: 16px;
 border: none;
 outline: none;
 color: rgb(244,241,214);
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
  }

  .subnav-content { /* styling for desktop sub navigation content */
  display: none;
  position: absolute;
  left: 0;
  background-color: #093D70;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover{
  background-color: white;
  color: black;
}


  .subnav:hover .subnav-content{
    display: block;
  }

  .wrapper{
    width: 80%;
    max-width: 1200px;
    position: absolute;
    left: 20%;
  }

  .panels{ /* styling for desktop panels in meet the team section, controlling the positioning */
  padding-top: 30px;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-gap: 50px 0px;

  }

  .panels li{
  padding-bottom: 50px;
  display: grid;
  text-align: center;

  }


}

/**************************************************************/
/* End of Destop stylings and intro to universal stylings such as body etc.*/
/**************************************************************/

.panels li div{
text-align: center;
width: 20%;

}

.panels div.back{
transform: rotateY(90deg);
text-align: center;
}

.panels div.front{
position:absolute;
}

.panels li:hover div.front{
animation: twirl 0.2s ease-in forwards;
}

.panels li:hover div.back{
animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

@keyframes twirl { /* keyframe for panel animations to reveal the text to the user. Works by rotating the back element on the y axis to reveal it */
0%{transform: rotateY(0deg)}
100%{transform: rotateY(90deg)}
}


@media screen and (max-width: 344px) { /* controls the postioning for the panels on very small screens, so that it fits */
  .panels{
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  grid-gap: 10%;
  align-items: center;
  }
}


h1{
  text-align: center;
  padding-top: 20px;
  color: rgb(244,241,214);
  font-family: 'Raleway', sans-serif;
}

.contact h1{
padding-top: 20px;
text-align: center;
}

.contact h2{
  padding-top: 25px;
  text-align: center;
}

.contact p{
  text-align: center;
}



body{
  background-color: #ADD34C;
  margin: 0;
  padding: 0;
  margin-right: -20px;
  font-family: 'Raleway', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
